.gradientText {
  @apply bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 text-transparent bg-clip-text
}

.buttonYel {
  @apply mt-3 w-full outline outline-yellow-300 outline-offset-2 py-2 px-2 bg-yellow-300/80 bg-opacity-60 rounded-2xl transition-colors hover:bg-opacity-90 hover:bg-yellow-200
}
.buttonRed {
  @apply  bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-xl hover:scale-110 active:scale-90 hover:shadow-xl
}
.buttonGreen {
  @apply mt-3 w-full outline outline-green-300 outline-offset-2 py-2 px-2 bg-green-600 bg-opacity-75 rounded-2xl transition-colors hover:bg-opacity-100 hover:bg-green-500
}

.BaseButton {
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
  background-color: rgb(120, 196, 157);
  color: white;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(66, 118, 196, 0.3);
  transition: all 0.3s ease-in-out;
}

.BaseButton:hover {
  background-color: rgb(92, 160, 131);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.BaseButton:active {
  transform: scale(0.9);
}

.BaseButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(54, 139, 116);
}

.easeInOut {
  transition: all 0.3s ease-in-out;
}

.fadeIn {
  animation: fadeIn ease-in-out .8s;
}

.filter_input {
  flex: 1;
  min-width: 200px;
}

.filter_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.borderContainer {
  @apply px-2 py-1 text-lg text-gray-700 mb-2 border-2
}
.miniBorderContainer {
  @apply pl-2 py-1 text-lg text-gray-700 mb-1 border
}

.bodyText {
  @apply font-bold text-emerald-600
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}