@tailwind base;
@tailwind components;
@tailwind utilities;
/*@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700&display=swap');*/

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  box-sizing: border-box;
}
