.filter_input {
    min-width: 200px;
}

.modalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 600px;
    background-color: #fff;
    outline: none;
    padding: 20px;
    border-radius: 4px;
    overflow-y: auto;
}


.border_l {
    border-right: 3px solid  rgb(120, 196, 157);
}

